<div class="section">
  <h2 class="title">Insurance Providers</h2>
  <% insurance_provider.each_with_index do |item, index| -%>
  <div>
    <div class="bold"><%=item.name%></div>
    <div>Group Number: <%=item.group_number%>; Type: <%=item.insurance_type.display_name.titleize%></div>
    <div>Patient: <span>
      <%=item.patient.name.title%> 
      <% item.patient.name.givens.each do |n| -%>
      <%=n%> 
      <% end -%>
      <%=item.patient.name.lastname%><%= (item.patient.name.suffix) ? ", #{item.patient.name.suffix}" : ""%>
    </span> (<%=item.patient.relationship.display_name.titleize%>)</div>
    <div>Subscriber: <span>
      <% if(item.subscriber.organization) -%>
        <%= item.subscriber.actor.name %>
      <% else -%>
        <%=item.subscriber.actor.name.title%> 
        <% item.subscriber.actor.name.givens.each do |n| -%>
        <%=n%> 
        <% end -%>
        <%=item.subscriber.actor.name.lastname%><%= (item.subscriber.actor.name.suffix) ? ", #{item.subscriber.actor.name.suffix}" : ""%>
      <% end -%>
    </span> (<%=item.subscriber.id%>)</div>
    <div>Payer: <span>
      <% if(item.payer.organization) -%>
        <%= item.payer.actor.name %>
      <% else -%>
        <%=item.payer.actor.name.title%> 
        <% item.payer.actor.name.givens.each do |n| -%>
        <%=n%> 
        <% end -%>
        <%=item.payer.actor.name.lastname%><%= (item.payer.actor.name.suffix) ? ", #{item.payer.actor.name.suffix}" : ""%>
      <% end -%>
    </span> (<%=item.payer.source_id%>)</div>
    <div>Guarantor: <span>
      <% if(item.guarantor.organization) -%>
        <%= item.guarantor.actor.name %>
      <% else -%>
        <%=item.guarantor.actor.name.title%> 
        <% item.guarantor.actor.name.givens.each do |n| -%>
        <%=n%> 
        <% end -%>
        <%=item.guarantor.actor.name.lastname%><%= (item.guarantor.actor.name.suffix) ? ", #{item.guarantor.actor.name.suffix}" : ""%>
      <% end -%>
    </span> (<%=format_date item.guarantor.date%>)</div>
  </div>
  <% end -%>
  
  
  <br/><br/>
  <div>
  <% insurance_provider.each_with_index do |item, index| -%>
  <%= render :partial => "shared/sections/sub_sections/abstract_section", :locals => {:description => item.description, :information_source => item.information_source} %>
  <% end -%>
  </div>
</div>